<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.papyrus.moka.kernel.engine" name="Execution engine extension point" schema="schema/org.eclipse.papyrus.moka.kernel.engine.exsd"/>
   <extension-point id="org.eclipse.papyrus.moka.kernel.service" name="Execution engine service extension point" schema="schema/org.eclipse.papyrus.moka.kernel.service.exsd"/>
   <extension-point id="org.eclipse.papyrus.moka.kernel.validation" name="Validation" schema="schema/org.eclipse.papyrus.moka.kernel.validation.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Kernel -->
      <package
            uri="Kernel"
            class="org.eclipse.papyrus.moka.kernel.KernelPackage"
            genModel="resources/models/Kernel.genmodel"/>
   </extension>

</plugin>
