<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model.profile -->
      <package
            uri="http://org.eclipse.papyrus.moka.ssp.profile/SSPProfile"
            class="org.eclipse.papyrus.moka.ssp.profile.SSPProfilePackage"
            genModel="model/model.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/org.eclipse.papyrus.moka.ssp.profile/model/model.profile.uml#_T9IHYB-HEeegP6aMHpCV8A"
            uri="http://org.eclipse.papyrus.moka.ssp.profile/SSPProfile">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="SSPProfile"
            path="platform:/plugin/org.eclipse.papyrus.moka.ssp.profile/model/model.profile.uml">
      </profile>
      <profile
            description="Profile complementary to SSP profile allowing to deal with OpenModelica OMSimulator extensions"
            name="OMSimulatorProfile"
            path="pathmap://PAPYRUS_SSP_PROFILE/OMSimulator.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.paletteDefinition">
      <paletteDefinition
            ID="org.eclipse.papyrus.moka.ssp.profile.SSDPalette"
            class="org.eclipse.papyrus.infra.gmfdiag.common.service.palette.ExtendedPluginPaletteProvider"
            name="SSD Palette"
            path="model/ssd_component_diagram_palette.paletteconfiguration">
         <Priority
               name="Medium">
         </Priority>
         <editor
               class="org.eclipse.papyrus.uml.diagram.component.UmlComponentDiagramForMultiEditor(org.eclipse.papyrus.uml.diagram.component)">
         </editor>
      </paletteDefinition>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="model/ssd_component_diagram_palette_UI.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="org.eclipse.papyrus.infra.services.edit.TypeContext"
            path="model/ssd_component_diagram_palette_Semantic.elementtypesconfigurations">
      </elementTypeSet>
   </extension>
   <extension point="org.eclipse.emf.ecore.factory_override">
      <factory
         class="org.eclipse.papyrus.moka.ssp.profile.custom.imp.CustomSSPProfileFactoryImpl"
         uri="http://org.eclipse.papyrus.moka.ssp.profile/SSPProfile">
      </factory>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OMSimulator.profile -->
      <package
            uri="http://www.eclipse.org/papyrus/OMSimulatorProfile/1.0.0"
            class="org.eclipse.papyrus.moka.ssp.omsimulatorprofile.OMSimulatorPackage"
            genModel="model/OMSimulator.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://PAPYRUS_SSP_PROFILE/OMSimulator.profile.uml#_zIAAYLgtEeizUOX0GlzCzg"
            uri="http://www.eclipse.org/papyrus/OMSimulatorProfile/1.0.0">
      </profile>
   </extension>
   
 <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PAPYRUS_SSP_PROFILE/"
            target="platform:/plugin/org.eclipse.papyrus.moka.ssp.profile/model/">
      </mapping>
   </extension>
 <extension
       point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
    <library
          description="OpenModelica OMSimulator TLM Library"
          name="TLM Library"
          path="pathmap://PAPYRUS_SSP_PROFILE/TLMLibrary.uml">
    </library>
 </extension>
</plugin>
