<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Moka Target Platform" sequenceNumber="1647277313">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.json" version="0.0.0"/>
      <repository id="eclipse" location="http://download.eclipse.org/releases/2021-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.batik.anim" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.dom" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.dom.svg" version="1.14.0.v20210324-0332"/>
      <unit id="org.apache.batik.xml" version="1.14.0.v20210324-0332"/>
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20211213173813/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <repository id="gmfRuntime" location="https://download.eclipse.org/modeling/gmp/gmf-runtime/updates/releases/R202202190902"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.papyrus.junit.feature.feature.group" version="0.0.0"/>
      <repository id="papyrus" location="https://download.eclipse.org/modeling/mdt/papyrus/updates/nightly/master/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.aspectj.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="0.0.0"/>
      <repository id="aspectj" location="https://download.eclipse.org/tools/ajdt/421/dev/update/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.xviewer.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.nebula.visualization.feature.feature.group" version="0.0.0"/>
      <repository id="nebula" location="http://download.eclipse.org/nebula/releases/2.0.1"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.paho.client.mqttv3" version="0.0.0"/>
      <repository id="paho" location="https://download.eclipse.org/paho/releases/1.2.0/Java"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xwt.feature.feature.group" version="0.0.0"/>
      <repository id="xwt" location="https://download.eclipse.org/xwt/milestones-1.7.0/1.7.0-S/"/>
    </location>
  </locations>
</target>
