<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="traceMechanism" name="traceMechanism" schema="schema/traceMechanism.exsd"/>
		
	<extension
    	point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
		<client
			class="org.eclipse.papyrus.moka.tracepoint.service.TraceFunctions"
			decorationType="org.eclipse.papyrus.tracepointmarker">
		</client>
	</extension>
	
	<extension
		id="org.eclipse.papyrus.tracepointmarker"
		name="tracepoint marker"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.papyrus.modelmarker">
		</super>
		<attribute
			name="isActive">
		</attribute>
		<attribute
			name="isTracepoint">
		</attribute>
		<attribute
			name="traceAction">
		</attribute>
		<attribute
			name="traceMechanism">
		</attribute>
		<persistent
			value="true">
		</persistent>
	</extension>
	
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory"
			class="org.eclipse.papyrus.moka.tracepoint.service.preferences.TPPreferencePage"
			id="org.eclipse.papyrus.moka.tracepoint.service.preferences.TPPreferencePage_ID"
			name="Tracepoint preferences">
		</page>
	</extension>
</plugin>
